---
layout: default
title: 第1話
---

<article class="chat-work">

    <h1>第1話</h1>

    <p class="chat-description">
        学年：3年1組 <br> 
        姓名：姫崎 莉波（ひめさき りなみ）<br>
        大人びた雰囲気のある3年生。<br>  
        寮のみんなの頼れるお兄さん。過去に所属していたユニットでは弟系のキャラ作りをしていたが、彼の大人っぽい容姿とは相性が悪く、結果は振るわなかった。<br>
        そのときの経験のせいで自信をなくしてしまっているようだ。
    </p>

   <div class="conversation">

    {% for message in site.data.episode01 %}

        {% include chat-message.html message=message %}

    {% endfor %}

</div>

    <p class="back-link">
        <a href="/novel/rinami/index.html">← 作品一覧へ戻る</a>
    </p>

</article>