{% if include.message.type == "image" %}

    <div class="novel-illustration">
        <img
            src="{{ include.message.src }}"
            alt="{{ include.message.alt | default: '挿絵' }}"
        >
    </div>

{% else %}

    <div class="chat-message {{ include.message.side }} speaker-{{ include.message.speaker }}">

        <div class="chat-speaker">

            {% if include.message.icon %}
                <img
                    src="{{ include.message.icon }}"
                    class="chat-icon"
                    alt=""
                >
            {% endif %}

            {% unless include.message.speaker == "場面" %}
                <span class="chat-name">
                    {{ include.message.speaker }}
                </span>
            {% endunless %}

        </div>

        <div class="chat-bubble">
            {{ include.message.text | newline_to_br }}
        </div>

    </div>

{% endif %}