<aside class="sidebar">
    <h2>MENU</h2>

     <a href="https://wavebox.me/wave/7bxmsyyhls3gpuhx/">
        <img src="/images/wavebox.png" alt="wavebox">
        <p>↑感想・コメントはこちらまで↑</p>
    </a>

    <h2>CONTENTS</h2>

    <ul>
        <li><a href="/">トップ</a></li>
        <li>ちまたとは？</li>
        <li><a href="/suki.html">ちまたの好きなものすべて</a></li>
        <li><a href="/diary/">ちまたの日記</a></li>
        <li><a href="/novel/rinami/index.html">【夢】私と莉波おにいちゃん</a></li>
        <li><a href="/link.html">LINK</a></li>
    </ul>

    <h2>UPDATE</h2>

    <p>
        2026.07.10<br>
        サイト開設
    </p>
</aside>
