<aside class="sidebar">
    <h2>MENU</h2>

    <p>あなたは</p>

    <a href="https://hits.sh/chimata-lab.github.io/">
        <img
            src="https://hits.sh/chimata-lab.github.io.svg?style=for-the-badge&color=e05d44&labelColor=1655b5"
            alt="訪問者カウンター"
        >
    </a>

    <p>人目の尋ね人……</p>

    <h2>CONTENTS</h2>

    <ul>
        <li><a href="/">トップ</a></li>
        <li>ちまたとは？</li>
        <li><a href="/suki.html">ちまたの好きなものすべて</a></li>
        <li>ちまた家の仲間たち</li>
        <li><a href="/dialy.html">ちまたの日記</a></li>
    </ul>

    <h2>UPDATE</h2>

    <p>
        2026.07.10<br>
        サイト開設
    </p>
</aside>
